body {
	margin: 0;
	font-family: 'Trebuchet MS', Helvetica, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.container {
	padding: 30px;
	margin-right: auto;
	margin-left: auto;
	text-align: center;
}

@media (min-width: 1200px) {
	.container {
		width: 1170px;
	}
}
